.div1{
    height: 120px;
    background: #628eb3;
    padding: 10px;
}
.img1{
    height: 100px;
    width: 100px;
    margin-left: 70px;
    margin-top: 15px;
}
.p1{
    color: #262163;
    font-weight: bold;
    font-size: 80px;
    line-height: 30px;
    font-family: 'Dancing Script', cursive;
    margin-top: -70px;
    margin-left: 180px;
}
.p2{
    color: #262163;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Candal', sans-serif;
    margin-top: -65px;
    margin-left: 210px;
}
.in1{
    height: 25px;
    width: 220px;
    float: right;
    margin-top: -80px;
    margin-right: 200px;
    border: solid 3px #28283f;
    background: #383755;
    border-radius: 20px 20px 20px 20px;
    padding: 5px;
    color: white;
    outline: none;
}
:placeholder-shown{
    background-color: #28283f;
}
::placeholder{
    color: white;
    font-size: 18px;
}
.but1{
    height: 50px;
    width: 50px;
    float: right;
    padding: 6px 10px;
    margin-top: -88px;
    margin-right: 190px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 80px 80px 80px 0px;
    outline: none;
}
.navbar{
    display: flex;
    width: 100%;
    height: 50px;
    background: white;
    position: absolute;
    top: 140px;
    left: 0px;
}
.navbar a {
    flex: 10%;
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown1{
    float: left;
    margin-left: 100px;
    overflow: hidden;
}
.dropdown1 .dropbtn1{
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}
.navbar1 a:hover, .dropdown1:hover .dropbtn1, .dropdown2:hover .dropbtn2, .a1:hover{
    background-color: #628eb3;
}
.dropdown-content1{
    display: none;
    position: absolute;
    left: 70px;
    border-radius: 20px;
}
.dropdown-content1 a {
    float: none;
    color: black;
    background: white;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 20px;
    border: solid 2px #628eb3;
}
.dropdown-content1 a:hover, .dropdown-content2 a:hover {
    background-color: #628eb3;
    border-radius: 20px;
  }
  
  .dropdown1:hover .dropdown-content1 {
    display: block;
  }

.dropdown2{
    float: left;
    margin-left: 70px;
    overflow: hidden;
}
.dropdown2 .dropbtn2{
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}
.dropdown-content2{
    display: none;
    position: absolute;
    left: 245px;
    border-radius: 20px;
}
.dropdown-content2 a {
    float: none;
    color: black;
    background: white;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 20px;
    border: solid 2px #628eb3;
}
.dropdown2:hover .dropdown-content2 {
    display: block;
}
.a1{
    color: black;
}

img{
    width: 100%;
    height: 100vh;
}
ul{
    list-style-type: none;
    display: flex;
}
ul li{
    width: 50px;
    height: 50px;
    padding: 20px;
    background: #628eb3;
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    color: white;
    z-index: 999;
    cursor: pointer;
}
ul li:hover{
    background: #28283f;
}
ul li:nth-child(1){
    position: relative;
    top: -500px;
    left: -40px;

}
ul li:nth-child(2){
    position: relative;
    top: -500px;
    left: 90%;
}
.img{
    height: 500px;
    width: 100%;
    background: #28283f;
    border-radius: 10px;
    margin-top: -100px;
}
.img2{
    height: 370px;
    width: 280px;
    margin-top: 20px;
    margin-left: 70px;
}
.img3{
    height: 370px;
    width: 280px;
    margin-top: 20px;
    margin-left: 30px;
}
.img4{
    height: 370px;
    width: 280px;
    margin-top: 20px;
    margin-left: 30px;
}
.img5{
    height: 370px;
    width: 280px;
    margin-top: 20px;
    margin-left: 30px;
}
.b1{
    background: #628eb3;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    position: relative;
    left: -20%;
    top: 50px;
    outline: none;
}
.bolo{
    height: 500px;
    width: 100%;
    background: #15153a;
    margin-top: 10px;
    border-radius: 30px 30px 0px 0px;
}
.bolo1{
    height: 70px;
    width: 400px;
    background: #628eb3;
    color: black;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 30px;
    border-radius: 30px 0px 0px 0px;
    position: relative;
    left: 20px;
    top: 20px;
}
.bolo1_1{
    height: 350px;
    width: 460px;
    background: #628eb3;
    margin-top: -10px;
    margin-left: 20px;
    font-size: 25px;
    text-align: center;
}
.bolo2{
    height: 70px;
    width: 400px;
    background: #628eb3;
    color: black;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 30px;
    border-radius: 0px 30px 0px 0px;
    position: relative;
    left: 70%;
    top: -480px;
}
.bolo2_1{
    height: 350px;
    width: 460px;
    background: #628eb3;
    margin-top: -480px;
    margin-left: 70%;
}
.dge{
    margin-top: 0px;
    margin-left: 80px;
    font-size: 20px;
}
.saati{
    margin-top: -200px;
    margin-left: 200px;
    font-size: 22px;
}
.eng{
    font-size: 30px;
    color: black;
    position: absolute;
    left: 90%;
    top: 65px;
    background: white;
    text-decoration: none;
    font-weight: bold;
}
@media screen and (max-width: 1000px) {
    .in1{
        height: 25px;
        width: 200px;
        float: right;
        margin-top: -80px;
        margin-right: 150px;
        border: solid 3px #28283f;
        background: #383755;
        border-radius: 20px 20px 20px 20px;
        padding: 5px;
        color: white;
        outline: none;
    }
    :placeholder-shown{
        background-color: #28283f;
    }
    ::placeholder{
        color: white;
        font-size: 18px;
    }
    .but1{
        height: 50px;
        width: 50px;
        float: right;
        padding: 6px 10px;
        margin-top: -88px;
        margin-right: 140px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
        border-radius: 80px 80px 80px 0px;
        outline: none;
    }
    .eng{
        font-size: 30px;
        color: black;
        position: absolute;
        left: 90%;
        top: 65px;
        background: white;
        text-decoration: none;
        font-weight: bold;
    }
    .navbar{
        display: flex;
        width: 100%;
        height: 50px;
        background: white;
        position: absolute;
        top: 140px;
        left: 0px;
    }
    .navbar a {
        flex: 10%;
        float: left;
        font-size: 16px;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .dropdown1{
        float: left;
        margin-left: 100px;
        overflow: hidden;
    }
    .dropdown1 .dropbtn1{
        font-size: 16px;  
        border: none;
        outline: none;
        color: black;
        padding: 14px 16px;
        background-color: inherit;
        margin: 0;
    }
    .navbar1 a:hover, .dropdown1:hover .dropbtn1, .dropdown2:hover .dropbtn2, .a1:hover{
        background-color: #628eb3;
    }
    .dropdown-content1{
        display: none;
        position: absolute;
        left: 70px;
        border-radius: 20px;
    }
    .dropdown-content1 a {
        float: none;
        color: black;
        background: white;
        text-decoration: none;
        display: block;
        text-align: left;
        border-radius: 20px;
        border: solid 2px #628eb3;
    }
    .dropdown-content1 a:hover, .dropdown-content2 a:hover {
        background-color: #628eb3;
        border-radius: 20px;
      }
      
      .dropdown1:hover .dropdown-content1 {
        display: block;
      }
    
    .dropdown2{
        float: left;
        margin-left: 70px;
        overflow: hidden;
    }
    .dropdown2 .dropbtn2{
        font-size: 16px;  
        border: none;
        outline: none;
        color: black;
        padding: 14px 16px;
        background-color: inherit;
        margin: 0;
    }
    .dropdown-content2{
        display: none;
        position: absolute;
        left: 245px;
        border-radius: 20px;
    }
    .dropdown-content2 a {
        float: none;
        color: black;
        background: white;
        text-decoration: none;
        display: block;
        text-align: left;
        border-radius: 20px;
        border: solid 2px #628eb3;
    }
    .dropdown2:hover .dropdown-content2 {
        display: block;
    }
    .a1{
        color: black;
    }
    
    img{
        width: 100%;
        height: 100vh;
    }
    ul{
        list-style-type: none;
        display: flex;
    }
    ul li{
        width: 50px;
        height: 50px;
        padding: 20px;
        background: #628eb3;
        font-size: 50px;
        text-align: center;
        font-weight: 600;
        color: white;
        z-index: 999;
        cursor: pointer;
    }
    ul li:hover{
        background: #28283f;
    }
    ul li:nth-child(1){
        position: relative;
        top: -500px;
        left: -40px;
    
    }
    ul li:nth-child(2){
        position: relative;
        top: -500px;
        left: 80%;
    }
    .img{
        height: 350px;
        width: 100%;
        background: #28283f;
        border-radius: 10px;
        margin-top: -100px;
    }
    .img2{
        height: 270px;
        width: 180px;
        margin-top: 20px;
        margin-left: 70px;
    }
    .img3{
        height: 270px;
        width: 180px;
        margin-top: 20px;
        margin-left: 10px;
    }
    .img4{
        height: 270px;
        width: 180px;
        margin-top: 20px;
        margin-left: 10px;
    }
    .img5{
        height: 270px;
        width: 180px;
        margin-top: 20px;
        margin-left: 10px;
    }
    .b1{
        background: #628eb3;
        height: 50px;
        width: 200px;
        border-radius: 20px;
        color: white;
        font-size: 15px;
        position: relative;
        left: 350px;
        top: 0px;
        outline: none;
    }
    .bolo{
        height: 300px;
        width: 100%;
        background: #15153a;
        margin-top: 10px;
        border-radius: 30px 30px 0px 0px;
    }
    .bolo1{
        height: 50px;
        width: 300px;
        background: #628eb3;
        color: black;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        padding: 30px;
        border-radius: 30px 0px 0px 0px;
        position: relative;
        left: 20px;
        top: 20px;
    }
    .bolo1_1{
        height: 170px;
        width: 360px;
        background: #628eb3;
        margin-top: 20px;
        margin-left: 20px;
        font-size: 20px;
        text-align: center;
    }
    .bolo2{
        height: 20px;
        width: 300px;
        background: #628eb3;
        color: black;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        padding: 30px;
        border-radius: 0px 30px 0px 0px;
        position: relative;
        left: 470px;
        top: -280px;
    }
    .bolo2_1{
        height: 200px;
        width: 360px;
        background: #628eb3;
        margin-top: -280px;
        margin-left: 470px;
    }
    .dge{
        margin-top: 0px;
        margin-left: 50px;
    }
    .saati{
        margin-top: -200px;
        margin-left: 170px;
        font-size: 22px;
    }
}
@media screen and (max-width: 600px) {
    .div1{
        height: 120px;
        background: #628eb3;
        padding: 10px;
    }
    .img1{
        height: 80px;
        width: 80px;
        margin-left: 30px;
        margin-top: 15px;
    }
    .p1{
        color: #262163;
        font-weight: bold;
        font-size: 40px;
        line-height: 20px;
        font-family: 'Dancing Script', cursive;
        margin-top: -60px;
        margin-left: 120px;
    }
    .p2{
        color: #262163;
        font-size: 8px;
        font-weight: bold;
        font-family: 'Candal', sans-serif;
        margin-top: -35px;
        margin-left: 130px;
    }
    .in1{
        height: 22px;
        width: 150px;
        float: right;
        margin-top: -45px;
        margin-right: 120px;
        border: solid 3px #28283f;
        background: #383755;
        border-radius: 20px 20px 20px 20px;
        padding: 5px;
        color: white;
        outline: none;
    }
    :placeholder-shown{
        background-color: #28283f;
    }
    ::placeholder{
        color: white;
        font-size: 15px;
    }
    .but1{
        height: 40px;
        width: 40px;
        float: right;
        padding: 6px 10px;
        margin-top: -47px;
        margin-right: 110px;
        background: #ddd;
        font-size: 14px;
        border: none;
        cursor: pointer;
        border-radius: 80px 80px 80px 0px;
        outline: none;
    }
    .eng{
        font-size: 30px;
        color: black;
        position: absolute;
        left: 80%;
        top: 65px;
        background: white;
        text-decoration: none;
        font-weight: bold;
    }
    .navbar{
        display: flex;
        width: 100%;
        height: 50px;
        background: white;
        position: absolute;
        top: 140px;
        left: -10px;
    }
    .navbar a {
        flex: 10%;
        float: left;
        font-size: 12px;
        text-align: center;
        padding: 8px 10px;
        text-decoration: none;
    }
    .dropdown1{
        float: left;
        margin-left: 50px;
        overflow: hidden;
    }
    .dropdown1 .dropbtn1{
        font-size: 12px;  
        border: none;
        outline: none;
        color: black;
        padding: 14px 16px;
        background-color: inherit;
        margin: 0;
    }
    .navbar1 a:hover, .dropdown1:hover .dropbtn1, .dropdown2:hover .dropbtn2, .a1:hover{
        background-color: #628eb3;
    }
    .dropdown-content1{
        display: none;
        position: absolute;
        left: 30px;
        border-radius: 20px;
    }
    .dropdown-content1 a {
        float: none;
        color: black;
        background: white;
        text-decoration: none;
        display: block;
        text-align: left;
        border-radius: 20px;
        border: solid 2px #628eb3;
    }
    .dropdown-content1 a:hover, .dropdown-content2 a:hover {
        background-color: #628eb3;
        border-radius: 20px;
      }
      
      .dropdown1:hover .dropdown-content1 {
        display: block;
      }
    
    .dropdown2{
        float: left;
        margin-left: 0px;
        overflow: hidden;
    }
    .dropdown2 .dropbtn2{
        font-size: 12px;  
        border: none;
        outline: none;
        color: black;
        padding: 14px 16px;
        background-color: inherit;
        margin: 0;
    }
    .dropdown-content2{
        display: none;
        position: absolute;
        left: 130px;
        border-radius: 20px;
    }
    .dropdown-content2 a {
        float: none;
        color: black;
        background: white;
        text-decoration: none;
        display: block;
        text-align: left;
        border-radius: 20px;
        border: solid 2px #628eb3;
    }
    .dropdown2:hover .dropdown-content2 {
        display: block;
    }
    .a1{
        color: black;
    }
    
    img{
        width: 100%;
        height: 50vh;
    }
    ul{
        list-style-type: none;
        display: flex;
    }
    ul li{
        width: 50px;
        height: 50px;
        padding: 20px;
        background: #628eb3;
        font-size: 50px;
        text-align: center;
        font-weight: 600;
        color: white;
        z-index: 999;
        cursor: pointer;
    }
    ul li:hover{
        background: #28283f;
    }
    ul li:nth-child(1){
        position: relative;
        top: -300px;
        left: -40px;
    
    }
    ul li:nth-child(2){
        position: relative;
        top: -300px;
        left: 65%;
    }
    .img{
        height: 600px;
        width: 570px;
        background: #28283f;
        border-radius: 10px;
        margin-top: -100px;
    }
    .img2{
        height: 250px;
        width: 120px;
        margin-top: 20px;
        margin-left: 20px;
    }
    .img3{
        height: 250px;
        width: 150px;
        margin-top: 20px;
        margin-left: 10px;
    }
    .img4{
        height: 250px;
        width: 150px;
        margin-top: 20px;
        margin-left: 10px;
    }
    .img5{
        height: 250px;
        width: 150px;
        margin-top: 20px;
        margin-left: 10px;
    }
    .b1{
        background: #628eb3;
        height: 50px;
        width: 200px;
        border-radius: 20px;
        color: white;
        font-size: 15px;
        position: relative;
        left: 200px;
        top: 0px;
        outline: none;
    }
    .bolo{
        height: 300px;
        width: 570px;
        background: #15153a;
        margin-top: 10px;
        border-radius: 30px 30px 0px 0px;
    }
    .bolo1{
        height: 50px;
        width: 200px;
        background: #628eb3;
        color: black;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        padding: 30px;
        border-radius: 30px 0px 0px 0px;
        position: relative;
        left: 20px;
        top: 20px;
    }
    .bolo1_1{
        height: 170px;
        width: 260px;
        background: #628eb3;
        margin-top: 20px;
        margin-left: 20px;
        font-size: 15px;
        text-align: center;
    }
    .bolo2{
        height: 20px;
        width: 200px;
        background: #628eb3;
        color: black;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        padding: 30px;
        border-radius: 0px 30px 0px 0px;
        position: relative;
        left: 300px;
        top: -280px;
    }
    .bolo2_1{
        height: 200px;
        width: 260px;
        background: #628eb3;
        margin-top: -280px;
        margin-left: 300px;
    }
    .dge{
        margin-top: 0px;
        margin-left: 40px;
        font-size: 15px;
    }
    .saati{
        margin-top: -155px;
        margin-left: 140px;
        font-size: 17px;
    }
  }